input {
    background-color: var(--color-input-bg);
    border-color: var(--color-border) !important;
    border: solid 1px;
    outline: none;
    
    &:focus{
        border-color: var(--color-focus) !important;
    }
}