<div class="relative">
  <input [type]="getType()" [placeholder]="placeholder()" [value]="value" [disabled]="disabled" (input)="onInput($event)"
    (blur)="onBlur()" class="rounded-lg p-2 w-full">
  @if(type() == 'password'){
  <div class="absolute  top-1/2 right-2 opacity-70 cursor-pointer hover:text-blue-400"
  (click)="showPassword = !showPassword"
    style="transform: translateY(-50%);">
    <lucide-icon [name]="showPassword ? icons.EyeClosed : icons.Eye" [title]="showPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'"></lucide-icon>
  </div>
  }
</div>